:root {
	/* Main colors */
    --color-accent: #1fa4d1; /* Blue */
    --background: #232323; /* Almost black */
    --background-alt: #1f242b; /* Blueish black */
    --background-popup: #1f242b; /* Blueish black */
    --text: #d6dbdf; /* Almost white */
    --text-alt: #eaecee; /* Almost white */
    --border: #5f6368; /* Grey */
    --border-alt: #466f82; /* Dark blue */
    --button-bg: #1fa4d1; /* Blue */
    --button-text: #f0f6fc; /* Almost white */
    --button-hover: #466f82; /* Dark blue */
    --link: #3498db; /* Blue */
	--link-visited: #6d59a3; /* Purple */
	--link-source: #eff1f7; /* Almost white */
    --meta: #999; /* Grey */
	--result-special-background: #ebf3fa; /* Light blue */

	/* Front page (Also used on oAUTH page) */
	--startpage-border: #545a5f; /* Grey */
	--startpage-border-alt: #6c747a; /* Lighter grey */
    --startpage-button-text: #f0f6fc; /* Almost white */
	--startpage-button-bg: #2b323b; /* Blueish grey */
	--startpage-button-bg-alt: #363e4a; /* Lighter blueish grey */

	/* Misc */
	--green: #518257; /* Green */
	--red: #b30000; /* Red */
	--yellow: #ffb900; /* Golden yellow */
	--warning: #b37d00; /* Dark yellow */
	--warning-background: #ffffb3; /* Yellow */
	--error: #b30000; /* Red */
	--error-background: #ffcccc; /* red */
}